.vantagens-bg {
    background-color: #111111;
}

.vantagens {
    padding: 5rem 3rem;
}

.vantagens h2 {
    margin-bottom: 60px;
    font-size: 3rem;
    line-height: 1.125;
    font-weight: 600;
    color: #fff;
}

.vantagens h2 span {
    color: #e9c46a;
}

.vantagens ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
    margin-bottom: 8px;
}

.vantagens h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e9c46a;
}

.vantagens p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #b2b2b2;
}

@media (max-width: 800px){
    .vantagens {
        padding: 5rem 2rem;
    }
    
    .vantagens h2 {
        margin-bottom: 40px;
    }

    .vantagens ul {
        gap: 20px;
    }

    .vantagens ul li {
        margin-bottom: 2rem;
    }
}